doctype html 
html(lang="ko")
    head
        include ../partials/meta.pug
        include ../partials/meta-og.pug
        include ../partials/meta-twitter.pug
        include ../partials/icon.pug
        block head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
        title #{pageTitle} | Marshot Project
    body 
        header 
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Freedom
                    if loggedIn
                        li 
                            a(href="/Sign out") Sign Out 
                        li 
                            a(href="my-profile") #{loggedInUser.username}
                    else
                        li
                            a(href="/signup") Sign Up
                        li 
                            a(href="/signin") Sign In
                    li 
                        a(href="/search") Search
                    li 
                        a(href="/marstube/upload") Upload Video
        main
            block content
    include ../partials/footer.pug