meta(property="og:type" content="website")
meta(property="og:title" content="Marshot Project")
meta(property="og:image" content="https://i.esdrop.com/d/f/AJpmYimqqn/RXUcK3E1Pa.png")
meta(property="og:description" content="We address the knowledge and information gap problem.")
meta(property="og:site_name" content="Marshot Project")
meta(property="og:image:height" content="630")
meta(property="og:image:width" content="1200")